 * {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

/* this is set by Dash */
.card {
    margin: 10px;
}

h1 {
    margin: 10px;
}

/* card styling */

.knucklepuck {
    transition: 0.3s;
    border-radius: 3px;
    margin: 0;

    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    padding: 10px;
}

.knucklepuck:hover {
    box-shadow: 0 6px 12px 0 lightgray;
    cursor: default;
}

/* flexboxes */
/*  parent */

.flex_daddy {
    /* height: ; */
    display: flex;
    justify-content: space-around;
    flex-grow: 1, 1;
}

/* .above {
    height: 80vh;
} */

.inner_fd {
    display: flex;
    flex-direction: column;
}
.headercenter {
    display: flex;
    justify-content: center;
}
.centerflex {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45vw;
    padding-bottom: 30px;
    flex: 2 2 2;
}

.blow_fold_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*  children */
.home, .away {
    flex: 1 1 1;

}

#win_lose {
    width:100vw;
}
/* this is going to require flex-grow, but shrink */
/* .above {
    height:120vh;
} */

/* components */
.dropdown {
    width: 20vw;
    padding: 0.35vw;
    cursor: default;

}


/* .cntrthbtn {
    display: flex;
    justify-content: center;
} */

#thebutton {
    height: 10vh;
    width: 12vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: hotpink;
    border-radius:0.75em;
    border-color:hotpink;
    border-style: solid;
    color: white;
    /* size:10em; */
    font-size:2em;
    letter-spacing: 1.25px;
    margin:0.5em 0 .5em 0;
    transition: 0.3s;


    z-index: 1;

}

#thebutton:hover {
    box-shadow: 0 6px 12px 0 lightgray;
    cursor: pointer;

}